.container{
    width: 1000px;
    border: 5px solid #a3a3a3;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
}

.bottom{
    display: flex;
    }

.head {
    display: flex;
    height: 150px;
    background-color: #d9d9d9;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}
.left{
    height: 150px;
    background-color: #d9d9d9;
    width: 80%;
    margin-right: 5px;
}
.rightt{
    flex-grow: 1;
    background-color: #d9d9d9;
}
